In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
df = pd.read_csv('Feature_engg.csv')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 19 columns):
 #   Column            Dtype
---  ------            -----
 0   Location ID       int64
 1   City              object
 2   State             object
 3   Country           object
 4   Latitude          float64
 5   Longitude         float64
 6   Product ID        object
 7   Product Category  object
 8   Sales Volume      float64
 9   Sales Revenue     float64
 10  Date              object
 11  Year              int64
 12  Month             int64
 13  Week              int64
 14  Day               int64
 15  DayOfWeek         int64
 16  IsWeekend         bool
 17  GeoCluster        int64
 18  GeoClusterName    object
dtypes: bool(1), float64(4), int64(7), object(7)
memory usage: 1.4+ GB

In [5]:
df.sample(20)

,Location ID,City,State,Country,Latitude,Longitude,Product ID,Product Category,Sales Volume,Sales Revenue,Date,Year,Month,Week,Day,DayOfWeek,IsWeekend,GeoCluster,GeoClusterName
5927004,5927005,Delhi,Delhi,India,28.7041,77.1025,CLOT2005,Running Shoes,115.20,13778.35,2022-12-31,2022,12,52,31,5,True,0,Cluster A
6200040,6200041,Chennai,Tamil Nadu,India,13.0827,80.2707,CLOT2001,Men T-shirt,118.30,3601.91,2023-06-21,2023,6,25,21,2,False,0,Cluster A
2280211,2280212,Delhi,Delhi,India,28.7041,77.1025,ELEC1005,Headphones,74.40,4527.39,2024-05-31,2024,5,22,31,4,False,0,Cluster A
1565371,1565372,Hyderabad,Telangana,India,17.3850,78.4867,ELEC1001,Smartphone,84.00,62983.30,2024-03-12,2024,3,11,12,1,False,0,Cluster A
6542546,6542547,New York,NY,USA,40.7128,-74.0060,ELEC1003,Tablet,123.60,99451.09,2023-07-30,2023,7,30,30,6,True,1,Cluster B
7444822,7444823,Delhi,Delhi,India,28.7041,77.1025,BOOK5003,Cookbook,74.40,3419.19,2024-01-22,2024,1,4,22,0,False,0,Cluster A
4794017,4794018,Tokyo,Tokyo Prefecture,Japan,35.6895,139.6917,BOOK5001,Novel,54.00,1044.42,2022-06-27,2022,6,26,27,0,False,3,Cluster D
6317260,6317261,Toronto,Ontario,Canada,43.6510,-79.3470,ELEC1006,Camera,34.40,34825.90,2023-09-09,2023,9,36,9,5,True,1,Cluster B
9051630,9051631,Sydney,New South Wales,Australia,-33.8688,151.2093,BOOK5003,Cookbook,142.80,8304.77,2023-12-28,2023,12,52,28,3,False,3,Cluster D
6636466,6636467,Delhi,Delhi,India,28.7041,77.1025,CLOT2003,Winter Jacket,102.00,16456.14,2022-05-11,2022,5,19,11,2,False,0,Cluster A
8049560,8049561,London,England,UK,51.5074,-0.1278,FOOD6002,Protein Bars,136.80,2340.85,2023-09-03,2023,9,35,3,6,True,2,Cluster C
8700165,8700166,Delhi,Delhi,India,28.7041,77.1025,ELEC1006,Camera,20.16,13662.78,2022-12-30,2022,12,52,30,4,False,0,Cluster A
9181389,9181390,New York,NY,USA,40.7128,-74.0060,HOME3005,Washing Machine,112.00,49504.50,2024-06-11,2024,6,24,11,1,False,1,Cluster B
1156869,1156870,Tokyo,Tokyo Prefecture,Japan,35.6895,139.6917,BOOK5002,Textbook,166.80,21363.29,2023-12-03,2023,12,48,3,6,True,3,Cluster D
6382247,6382248,Kolkata,West Bengal,India,22.5726,88.3639,FOOD6003,Cereal,25.00,485.81,2022-04-04,2022,4,14,4,0,False,0,Cluster A
9877412,9877413,Hyderabad,Telangana,India,17.3850,78.4867,FOOD6004,Coffee,97.00,579.71,2022-08-28,2022,8,34,28,6,True,0,Cluster A
5760134,5760135,Kolkata,West Bengal,India,22.5726,88.3639,HOME3003,Bed,17.00,10060.57,2023-05-01,2023,5,18,1,0,False,0,Cluster A
9171301,9171302,Chennai,Tamil Nadu,India,13.0827,80.2707,FOOD6003,Cereal,31.00,207.77,2023-12-02,2023,12,48,2,5,True,0,Cluster A
7212160,7212161,Tokyo,Tokyo Prefecture,Japan,35.6895,139.6917,ELEC1002,Laptop,123.00,206677.48,2023-12-02,2023,12,48,2,5,True,3,Cluster D
2134876,2134877,Tokyo,Tokyo Prefecture,Japan,35.6895,139.6917,HOME3001,Sofa,99.00,44093.49,2022-02-27,2022,2,8,27,6,True,3,Cluster D

In [ ]:
# #df['Date'] = pd.to_datetime(df['Date'])
# df['Month'] = pd.to_datetime(df['Month']).dt.month
# df['Year'] = pd.to_datetime(df['Year']).dt.year
# df['Week'] = pd.to_datetime(df['Week']).dt.isocalendar().week

In [6]:
train_df = df[df['Date']<'2024-01-01']
test_df = df[df['Date']>='2024-01-01']

In [7]:
train_df.sample(5)

,Location ID,City,State,Country,Latitude,Longitude,Product ID,Product Category,Sales Volume,Sales Revenue,Date,Year,Month,Week,Day,DayOfWeek,IsWeekend,GeoCluster,GeoClusterName
9692760,9692761,London,England,UK,51.5074,-0.1278,TOYS4005,Remote Control Car,127.0,12663.15,2022-09-15,2022,9,37,15,3,False,2,Cluster C
3705492,3705493,Tokyo,Tokyo Prefecture,Japan,35.6895,139.6917,CLOT2001,Men T-shirt,83.0,3317.35,2023-01-03,2023,1,1,3,1,False,3,Cluster D
1267624,1267625,Berlin,Berlin State,Germany,52.5200,13.4050,BOOK5002,Textbook,100.8,7981.59,2023-11-29,2023,11,48,29,2,False,2,Cluster C
9884134,9884135,Hyderabad,Telangana,India,17.3850,78.4867,TOYS4004,Puzzle,36.0,1210.66,2022-08-18,2022,8,33,18,3,False,0,Cluster A
9786581,9786582,Toronto,Ontario,Canada,43.6510,-79.3470,FOOD6004,Coffee,91.0,608.07,2023-11-11,2023,11,45,11,5,True,1,Cluster B

In [8]:
test_df.sample(5)

,Location ID,City,State,Country,Latitude,Longitude,Product ID,Product Category,Sales Volume,Sales Revenue,Date,Year,Month,Week,Day,DayOfWeek,IsWeekend,GeoCluster,GeoClusterName
7794000,7794001,Delhi,Delhi,India,28.7041,77.1025,HOME3003,Bed,53.0,84118.19,2024-03-25,2024,3,13,25,0,False,0,Cluster A
4994870,4994871,Toronto,Ontario,Canada,43.6510,-79.3470,CLOT2008,Formal Shirt,19.0,1736.19,2024-07-15,2024,7,29,15,0,False,1,Cluster B
7069436,7069437,Houston,TX,USA,29.7604,-95.3698,FOOD6001,Organic Snacks,21.6,432.44,2024-04-01,2024,4,14,1,0,False,1,Cluster B
5826437,5826438,Tokyo,Tokyo Prefecture,Japan,35.6895,139.6917,ELEC1004,Smartwatch,20.4,6883.04,2024-08-01,2024,8,31,1,3,False,3,Cluster D
9843137,9843138,Miami,FL,USA,25.7617,-80.1918,CLOT2001,Men T-shirt,58.0,1202.57,2024-03-22,2024,3,12,22,4,False,1,Cluster B

In [9]:
features = ['Product Category', 'GeoCluster','Latitude','Longitude', 
            'Year','Month','Day', 'DayOfWeek', 'IsWeekend'
]

In [10]:
target_volume = 'Sales Volume'
target_revenue = 'Sales Revenue'

In [11]:
from sklearn.preprocessing import LabelEncoder 
for col in ['Product ID', 'Product Category']:
    encoder = LabelEncoder()
    train_df[col] = encoder.fit_transform(train_df[col])
    test_df[col] = encoder.transform(test_df[col])

In [21]:
encoding_dict = {label: int(code) for label, code in zip(encoder.classes_, range(len(encoder.classes_)))}

In [24]:
import json
with open('label_encoding.json', 'w') as f:
    json.dump(encoding_dict, f)

In [12]:
X_train = train_df[features]
X_test = test_df[features]

In [13]:
y_train_vol = train_df[target_volume]
y_test_vol = test_df[target_volume]

In [14]:
y_train_rev = train_df[target_revenue]
y_test_rev = test_df[target_revenue]

In [15]:
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor

models = {
    #'LightGBM': LGBMRegressor(random_state=42),
    'XGBoost': XGBRegressor(random_state=42, n_jobs=-1),
    'RandomForest': RandomForestRegressor(random_state=42, n_jobs=-1),
    'LinearRegression': LinearRegression()
}

def evaluate_model(name, y_true, y_pred):
    print(f"\n📊 {name}")
    print("MAE :", mean_absolute_error(y_true, y_pred))
    print("RMSE:", np.sqrt(mean_squared_error(y_true, y_pred)))
    print("R²  :", r2_score(y_true, y_pred))

result = {}

In [16]:
for name, model in models.items():
    print(f"\n🚀 Training {name} for Sales Volume...")
    model.fit(X_train, y_train_vol)
    y_pred_vol = model.predict(X_test)
    evaluate_model(f"{name} - Volume", y_test_vol, y_pred_vol)

    print(f"🚀 Training {name} for Sales Revenue...")
    model.fit(X_train, y_train_rev)
    y_pred_rev = model.predict(X_test)
    evaluate_model(f"{name} - Revenue", y_test_rev, y_pred_rev)

🚀 Training XGBoost for Sales Volume...

📊 XGBoost - Volume
MAE : 30.16784587237267
RMSE: 35.50397430197933
R²  : 0.1401669998754812
🚀 Training XGBoost for Sales Revenue...

📊 XGBoost - Revenue
MAE : 10733.293070575066
RMSE: 22094.87639223172
R²  : 0.6281013184826758

🚀 Training RandomForest for Sales Volume...

📊 RandomForest - Volume
MAE : 30.35905993048632
RMSE: 35.83772082551846
R²  : 0.12392571653669948
🚀 Training RandomForest for Sales Revenue...

📊 RandomForest - Revenue
MAE : 10818.609423701515
RMSE: 22313.638408702
R²  : 0.620700501698833

🚀 Training LinearRegression for Sales Volume...

📊 LinearRegression - Volume
MAE : 31.494361592915595
RMSE: 37.72744477659194
R²  : 0.029098991354168158
🚀 Training LinearRegression for Sales Revenue...

📊 LinearRegression - Revenue
MAE : 24125.317139949202
RMSE: 36191.60994061504
R²  : 0.0021683127587601714

In [17]:
xgbmodel=XGBRegressor(random_state=42, n_jobs=-1)

In [18]:
xgbmodel.fit(X_train, y_train_rev)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=-1,
             num_parallel_tree=None, random_state=42, ...)

In [20]:
import joblib
joblib.dump(xgbmodel, 'xbg_model.pkl')

['xbg_model.pkl']